<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.mtransit.android.commons" >
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22"
        tools:ignore="GradleOverrides" />
    <application />
</manifest>