<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- REQUEST PERMISSIONS USAGE -->
    <!-- INTERNET: Used for real time information and more -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- BROADCAST_RECEIVER: required to read modules data -->
    <uses-permission android:name="${permission_receiver_broadcast}" />
    <!-- DECLARES PERMISSIONS -->
    <permission
        android:name="${permission_provider_read}"
        android:description="@string/provider_permission_description_read"
        android:label="@string/provider_permission_label_read"
        android:protectionLevel="signature" />
    <permission
        android:name="${permission_receiver_broadcast}"
        android:description="@string/receiver_permission_description_broadcast"
        android:label="@string/receiver_permission_label_broadcast"
        android:protectionLevel="signature" />
    <!-- USES FEATURE (not required) -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <!-- SUPPORT SCREENS -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/backup_rules"
        android:fullBackupContent="@xml/backup_descriptor"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="${target_sdk_version}">

        <!-- SPLASH SCREEN -->
        <activity
            android:name=".ui.ModuleRedirectActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/module_app_icon"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/ModuleBaseTheme"
            tools:ignore="MissingRegistered">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- APP UPDATE SCREEN -->
        <activity
            android:name=".ui.AppUpdateActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/module_app_icon"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/TransparentTheme" />

        <!-- INVISIBLE SCREEN #DontKillMyApp -->
        <activity
            android:name=".ui.InvisibleActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/module_app_icon"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/InvisibleTheme" />

        <!-- MODULE CHANGE RECEIVER -->
        <receiver
            android:name=".receiver.ModuleReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />
                <action android:name="android.intent.action.PACKAGE_FIRST_LAUNCH" />
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
                <action android:name="android.intent.action.PACKAGE_NEEDS_VERIFICATION" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
                <action android:name="android.intent.action.PACKAGE_VERIFIED" />

                <data
                    android:host="${applicationId}"
                    android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.MY_PACKAGE_SUSPENDED" />
                <action android:name="android.intent.action.MY_PACKAGE_UNSUSPENDED" />
            </intent-filter>
        </receiver>

        <!-- PACKAGE VISIBILITY: secondary apps visible by main app -->
        <receiver
            android:name=".receiver.GenericReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="${permission_receiver_broadcast}">
            <intent-filter>
                <action android:name="org.mtransit.android.intent.action.GENERIC" />
            </intent-filter>
        </receiver>

    </application>

    <queries>
        <!-- PACKAGE VISIBILITY: main app visibility by secondary apps -->
        <intent>
            <action android:name="org.mtransit.android.intent.action.DATA_CHANGE" />
        </intent>
        <!-- PACKAGE VISIBILITY: backward compatibility -->
        <package android:name="org.mtransit.android" />
    </queries>

</manifest>